.styledLinkContent {
  max-width: 100%;
  font-size: 1.2rem;
  /* color: #5E18EA; */
  padding: 0;
  margin: 0;
}

.styledLinkContainer {
  margin: 0 auto;
  padding: 1rem;
}

.menuItem {
  padding: 0;
  margin: 0;
}

.menuItem--isOpen {
  padding: 0;
  margin: 0;
}