.container--deals {
  color: #D38D2B;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: black;
  background-color: #fff;
  justify-content: center;
  text-align: center;
  /* padding-left: 13rem; */
}

.headingLevel2--shelfTitle {
  font-weight: 700;
}

.container--deals .paragraph {
  margin: 0;
  color: #fff;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: left;
  padding-left: 4rem;
}

.container--question .paragraph {
  font-size: 2.5rem;
  align-items: center;
  text-align: left;
  max-width: 540px;
  margin: 0 16px;
  padding: 4rem 0;
  color: blue;
}

.container--question .strong {
  font-size: 2.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #5E18EA;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #5E18EA;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  color: #5E18EA;
}

.container--title {
  color: #5E18EA;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 30px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #5E18EA;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}
